body {
  background-color: rgb(19, 15, 22);
  margin: 0 auto;
  color: white;
}

header {
  background-color: #B45247;
}
ul {
  margin: 0 auto;
}

.header-logo {
  margin-right: 250px;
}

.header-item {
  margin-right: 30px;
}

.header-icon {
  margin-left: 15px;
}

.hero-sect {

  text-align: center;
  padding-top: 140px;
  padding-bottom: 320px;

  /* main-img */

  background-size: 100% 750px;
  background-position: 0 -100px;
  background-repeat: no-repeat;
  background-image: url("../img/hero-img.jpg");
}